[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
{% for ip in groups['k8s_master-' ~ cluster_name] %}
IP.{{loop.index}} = {{ ip }}
{% endfor %}
IP.{{ groups['k8s_master-' ~ cluster_name]|length + 1 }} = {{ master_vip }}
IP.{{ groups['k8s_master-' ~ cluster_name]|length + 2 }} = {{ k8s_service_ip_range|ipaddr('1')|ipaddr('address') }}
