description "auto-start UCARP"
author "Ali Kanso <akanso@us.ibm.com>"

console log
start on net-device-up IFACE='{{ vip.interface }}'

exec /etc/network/if-up.d/vip start

post-stop script
        killall -9 ucarp
end script