---
apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: {{k8s_hyperkube_image}}:{{k8s_hyperkube_version}}
    command:
    - /hyperkube
    - proxy
    - --master=https://{{ vip_k8s_apiserver_ip }}:{{ vip_k8s_apiserver_port }}
    - --kubeconfig={{ k8s_etc_dir }}/{{ k8s_kubelet_cn }}-kubeconfig
    - --proxy-mode=userspace
    securityContext:
      privileged: true
    volumeMounts:
      - mountPath: {{ k8s_etc_dir }}/{{ k8s_kubelet_cn }}-kubeconfig
        name: "kubelet-kubeconfig"
        readOnly: true
      - mountPath: {{ k8s_cert_dir }}
        name: kubernetes-certs
        readOnly: true
  volumes:
    - name: "kubelet-kubeconfig"
      hostPath:
        path: {{ k8s_etc_dir }}/{{ k8s_kubelet_cn }}-kubeconfig
    - name: "kubernetes-certs"
      hostPath:
        path: {{ k8s_cert_dir }}
