*~
*.pyc
*.bak
*.idea
*.DS_Store
*.swp
ansible/certs/*
.srl
.vagrant
examples/vagrant/.vagrant/
proxy/.metadata/*
*.metadata/*
*.log
.metadata/*
examples/vagrant/.vagrant/

proxy/creds.json

proxy/proxy-test-container/conf/kube/test*