[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
{% for ip in groups['k8sm_master-' ~ cluster_name] %}
IP.{{loop.index}} = {{ ip }}
{% endfor %}
IP.10 = {{ floating_ip }}
