#jinja2:trim_blocks:False
global
  maxconn 4096
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
  log	global
  mode	http
  option	httplog
  option	dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats :{{haproxy_stats_port}}
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /haproxy_stats
    stats auth {{ansible_user_id}}:radiantHA

#############################
# Secure K8s API server config
#############################
{% if lb_k8s %}

frontend front-apiserver-secure
  bind *:{{vip_k8s_apiserver_port}}
  mode tcp
  default_backend back-apiserver-secure

backend back-apiserver-secure
  mode tcp
  balance roundrobin
  {% for item in groups['k8s_master-' ~ cluster_name] %}
    server k8s_master-{{cluster_name}}{{loop.index}} {{item}}:{{k8s_apiserver_sport}}
  {% endfor %}
{% endif %}

#############################
# Insecure K8s Scheduler config
#############################
{% if lb_k8s %}

frontend front-scheduler-insecure
  bind *:{{vip_k8s_scheduler_port}}
  mode http
  default_backend back-scheduler-insecure

backend back-scheduler-insecure
  mode http
  balance roundrobin
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  {% for item in groups['k8s_master-' ~ cluster_name] %}
     server k8s_master-{{cluster_name}}{{loop.index}} {{item}}:{{k8s_scheduler_port}} check
  {% endfor %}
{% endif %}

#############################
# Secure Remote ABAC server config
#############################
{% if lb_k8s %}

frontend front-rabac-secure
  bind *:{{vip_k8s_rabac_port}}
  mode tcp
  default_backend back-rabac-secure

backend back-rabac-secure
  mode tcp
  balance roundrobin
  {% for item in groups['k8s_master-' ~ cluster_name] %}
   server k8s_master-{{cluster_name}}{{loop.index}} {{item}}:{{rabac_port}}
  {% endfor %}
{% endif %}

#############################
# Swarm
#############################
{% if lb_swarm and swarm_deploy %}
frontend lb-swarm
	bind *:{{vip_swarm_master_port}}
	mode http
	default_backend swarm_backend

backend swarm_backend
	mode http
	balance roundrobin
	{% for item in groups['swarm_master-' ~ cluster_name] %}
        server swarm_master-{{cluster_name}}{{loop.index}} {{item}}:{{swarm_manager_port}} check
        {% endfor %}
{% endif %}


#############################
# Mesos
#############################
{% if lb_mesos and mesos_deploy %}
frontend lb-mesos
	bind *:{{vip_mesos_master_port}}
	mode http
	default_backend mesos_backend

backend mesos_backend
	mode http
	balance roundrobin
	{% for item in groups['mesos_master-' ~ cluster_name] %}
        server k8s_master-{{cluster_name}}{{loop.index}} {{item}}:{{mesos_master_port}} check
        {% endfor %}
{% endif %}
