current-context: service-account-context
apiVersion: v1
kind: Config
contexts:
- context:
    cluster: local
    user: {{ k8s_scheduler_cn }}
    namespace: default
  name: service-account-context
clusters:
- name: local
  cluster:
    certificate-authority: {{ k8s_cert_dir }}/{{ ca_cert }}
    apiVersion: v1
    server: https://{{ vip_k8s_apiserver_ip }}:{{ vip_k8s_apiserver_port }}
users:
- name: {{ k8s_scheduler_cn }}
  user:
    client-certificate: {{ k8s_cert_dir }}/{{ k8s_scheduler_cn }}.pem
    client-key: {{ k8s_cert_dir }}/{{ k8s_scheduler_cn }}-key.pem
