[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=network.target auditd.service

[Service]
ExecStartPre=test -x /usr/local/bin/kubelet
ExecStart=/usr/local/bin/kubelet \
		  --allow-privileged=true \
		  --config={{ k8s_kubelet_manifests_dir }} \
		  --v=2 \
		  --file-check-frequency=5s \
		  --hostname-override="{{ inventory_hostname }}" \
		  --pod-infra-container-image="{{ kube_infra_image }}" \
		  1>/var/log/kubernetes/kubelet.log 2>&1

ExecStop=killall -9 kubelet

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
