description "start kubelet in bootstrap mode"
author "Hai Huang <haih@us.ibm.com>"

start on runlevel [2345]
console log

pre-start script
        test -x /usr/local/bin/kubelet || { stop; exit 0; }
        /usr/local/bin/kubelet \
		  --allow-privileged=true \
		  --config={{ k8s_kubelet_manifests_dir }} \
		  --v=2 \
		  --file-check-frequency=5s \
		  --hostname-override="{{ inventory_hostname }}" \
		  --pod-infra-container-image="{{ kube_infra_image }}" \
		  1>/var/log/kubernetes/kubelet.log 2>&1 &
end script

post-stop script
        killall -9 kubelet
end script
