clusters:
 - name: {{ rabac_cn }}
   cluster:
     certificate-authority: {{ k8s_cert_dir }}/{{ ca_cert }}
     server: https://{{ vip_k8s_rabac_ip }}:{{ vip_k8s_rabac_port }}/authorize

users:
 - name: {{ k8s_apiserver_cn }}
   user:
     client-certificate: {{ k8s_cert_dir }}/{{ k8s_apiserver_cn }}.pem
     client-key: {{ k8s_cert_dir }}/{{ k8s_apiserver_cn }}-key.pem

current-context: ctx
contexts:
- context:
    cluster: {{ rabac_cn }}
    user: {{ k8s_apiserver_cn }}
  name: ctx
