
.project
bin/*
pkg/darwin_amd64/*

mylog.txt

user_certificates/*
mk_user_cert.sh*

.settings/com.googlecode.goclipse.core.prefs

*.csr
*.cnf
*.key
*.log

creds_original.json
proxy-test/logs/*
proxy-test/test_containers_results.*
logs/*
dockerize/ca.srl

