
.project
bin/*
pkg/darwin_amd64/*

mylog.txt

user_certificates/*
mk_user_cert.sh~*

.settings/com.googlecode.goclipse.core.prefs

*.csr
*.cnf
*.log

creds_original.json
proxy-test/logs/*
proxy-test/test_containers_results.*
proxy-test-container/conf/kube/test*
logs/*
dockerize/*.pem
dockerize/*.key
dockerize/ca.srl
dockerize/src/*
dockerize/*.sh
dockerize/*.json
admin-certs/ca.srl
admin-certs/*.srl
