
.project
bin/*
pkg/darwin_amd64/*

mylog.txt

user_certificates/*
mk_user_cert.sh~*

.settings/com.googlecode.goclipse.core.prefs

*.csr
*.cnf
*.log

creds_original.json
proxy-test/logs/*
proxy-test/lib/kube
proxy-test/test_containers_results.*
proxy-test-container/lib/kube
proxy-test-container/conf/kube/test*
logs/*
dockerize/*
!dockerize/Dockerfile
!dockerize/build.info
!dockerize/updateEnv.sh
