[DEFAULT]

#
# From kuryr
#

# Directory where Kuryr python module is installed. (string value)
#pybasedir = /kuryr

# Directory for Kuryr vif binding executables. (string value)
#bindir = $pybasedir/usr/libexec/kuryr

# Kuryr URL for accessing Kuryr through json rpc. (string value)
kuryr_uri = http://127.0.0.1:2377

# Kuryr plugin scope reported to libnetwork. (string value)
# Allowed values: local, global
capability_scope = global

# Neutron subnetpool name will be prefixed by this. (string value)
#subnetpool_name_prefix = kuryrPool

# The default neutron local address-scope name (string value)
#local_default_address_space = local_scope

# The default neutron global address-scope name. (string value)
#global_default_address_space = global_scope

# Enable or Disable debug mode for kuryr server. (boolean value)
#debug = true


[binding]

#
# From kuryr
#

# The name prefix of the veth endpoint put inside the container. (string value)
#veth_dst_prefix = eth


[keystone_client]

#
# From kuryr
#

# The URL for accessing the identity service. (string value)
auth_uri = {{ keystone_auth_uri }}

# The username to auth with the identity service. (string value)
admin_user = admin

# The tenant name to auth with the identity service. (string value)
admin_tenant_name = admin

# The password to auth with the identity service. (string value)
admin_password = "{{ xyzzy }}"

# The admin token. (string value)
#admin_token = <None>

# The CA certification file. (string value)
{{ auth_cert_line }}

# Turn off verification of the certificate for ssl (boolean value)
#auth_insecure = false


[neutron_client]

#
# From kuryr
#

# Neutron URL for accessing the network service. (string value)
neutron_uri = {{ neutron_uri }}

# Enable or Disable dhcp for neutron subnets. (string value)
#enable_dhcp = True
